{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="text-left">
        <h2 class="section-heading text-uppercase">{{student.fName}} {{student.lName}}</h2>
    </div>
    <br> 
    <form name="form" method="post" action="{% url 'editSingleStud' stud_id=student.studentID %}">
        {% csrf_token %}
        <input type="hidden" id="studentID" name="studentID" value="{{student.studentID}}">

        <label for='fName'>First Name:</label>
        <input type="text" name='fName' id='fName' value="{{student.fName}}" autofocus>
        <br><br>

        <label for='lName'>Last Name:</label>
        <input type="text" name='lName' id='lName' value="{{student.lName}}">
        <br><br>


        <label for='front'>Row Number:</label>
        <input type="number" name='restrictionNum' id='restrictionNum' value="{{student.restrictionNum}}" >
        <br><br>
        <button type="submit">Update</button>
    </form><br>
</div>
{% endblock %}