{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <header class="masthead" style="background-image: url('img/class.jpg')" >
    </header>
{% endblock %}
{% block content %}
<body>
    <form name="form" method="post" action="{% url 'generate' %}">
        {% csrf_token %}
        <div class = 'textwrapper'>
            <h4>What are the dimensions of your classroom?</h4>
            <div class='newcss'>
            <label for="numColumns">Columns: </label>
            <input type="number" id="numColumns" name="numColumns" >
            <label for="numRows">Rows: </label>
            <input type="number" id="numRows" name="numRows" >
            
            {% comment %} <label for="numStudent">Number of Students: </label> 
            <input type="number" id="numStudent" name="numStudent">  {% endcomment %}
            <p id='numStudent'></p>
            </div>
    <!--We will eventually get rid of this and add it dynamically based on the amount of students they added to the database-->
            <button type = 'button' id="orderStudents">Randomize Students</button>
        </div>
    </form>
    <div class = 'newContainer'>
        <div class = 'wrapper' id="wrapper"> 
        </div>
    </div>
      
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
// we will have to change this to dynamically add the student names.
// possibly use $('#wrapper').append('<div class ="studdiv">' +  Student[i].firstName  + '</div>');
// we will want the view to give us the student names in a list, ordered in reverse order by limit (3,2,1,0) 0 being no limits
data = JSON.parse("{{data|escapejs}}");

document.getElementById("orderStudents").addEventListener("click", orderStudents);

document.getElementById('numStudent').innerHTML = ('Number of Students: ' + data.length);
console.log(data.length)

$(window).ready(function () {   
    n = data.length
    $('#wrapper').html('');
    for (var i = 0; i < n; i++){
        studFirstName = data[i][0]
        restriction = data[i][1]
        console.log(studFirstName + ' ' + restriction)
        $('#wrapper').append('<div class ="studdiv">' +  studFirstName + ' ' + restriction + '</div>');
}
});



function orderStudents() {
    numColumns = Number(document.getElementById('numColumns').value)
    numRows = Number(document.getElementById('numRows').value)
    numStudent = Number(data.length)
    console.log(numStudent)
    ChosenPosition = []
    // the if statement makes sure that the number of students entered will fit in the rows and columns. 
    // Without this if statement the code will run forever and CRASH AND BURN
    if ((numColumns * numRows) < numStudent) {
        alert("You have entered too many students to fit in the columns/rows specified!");
    } 
    else {

        divs = document.getElementsByClassName('studdiv');

        // empty list to keep track of if a seat is already taken. 
        // It will simply have the concatenated rows and columns. Ex. row 1 and column 4 = 14;
       // ChosenPosition = []

        // Loop through the divs and assign a random grid ro w and column to each one
        for (i = 0; i < divs.length; i++) {
            div = divs[i];
            text = div.innerHTML
            array = text.split(" ");
            limit = Number(array[1]);
            console.log(limit)
 
            if (limit == 1) {
                row = 1
                col = Math.floor(Math.random() * numColumns) + 1; // Generate a random grid column
                rowvalue = row.toString()
                colvalue = col.toString()
                value = rowvalue + colvalue

                while (ChosenPosition.includes(value)){
                    row =  1; 
                    col = Math.floor(Math.random() * numColumns) + 1; // Generate a random grid column
                    rowvalue = row.toString()
                    colvalue = col.toString()
                    value = rowvalue + colvalue
                }    
                // adds the new concatenated value to the list
                ChosenPosition.push((value))

                // Use the CSS grid-row and grid-column properties to position the div at the random coordinates
                div.style.gridRow = row;
                div.style.gridColumn = col;
            }
            else {
                row = Math.floor(Math.random() * numRows) + 1; // Generate a random grid row
                col = Math.floor(Math.random() * numColumns) + 1; // Generate a random grid column
                rowvalue = row.toString()
                colvalue = col.toString()
                value = rowvalue + colvalue

                // checks to make sure the position isn't already occupied. if it is, it reassigns it.
                while (ChosenPosition.includes(value)){
                    row = Math.floor(Math.random() * numRows) + 1; // Generate a random grid row
                    col = Math.floor(Math.random() * numColumns) + 1; // Generate a random grid column
                    rowvalue = row.toString()
                    colvalue = col.toString()
                    value = rowvalue + colvalue
                } 
                // adds the new concatenated value to the list
                ChosenPosition.push((value))

                // Use the CSS grid-row and grid-column properties to position the div at the random coordinates
                div.style.gridRow = row;
                div.style.gridColumn = col;
            }
        }
    }
}
</script>
</html>
{% endblock %}