{% extends 'base.html' %}
{% load static %}
{% block nav %}
<header class="masthead" style="background-image: url('img/class.jpg')" >
</header>
{% endblock %}
{% block content %}
<div class="center">
<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Row</th>
      <th>Options</th>
    </tr>
    {% for student in students %}
        <tr>
            <td>{{student.fName}}</td> 
            <td>{{student.lName}}</td>
            <td>{{student.restrictionNum}}</td>
            <td><form name="form" method="post" action="{% url 'editStud' stud_id=student.studentID %}">{% csrf_token %}<button>Edit</button></form>
            <form name="form" method="post" action="{% url 'deleteStud' stud_id=student.studentID %}">{% csrf_token %}<button>Delete</button></form></td>
        </tr>
        
    {% endfor %}
</table>
<form name="form" method="post" action="{% url 'deleteAll' %}">{% csrf_token %}<button>Delete All Students</button></form>
{% endblock %}
</div>